In [2]:
from bs4 import BeautifulSoup
import requests
import csv
import pandas as pd

Task 1
---------
Scrap the USD To EGP Exchange rate from this website
https://www.exchangerates.org.uk/Dollars-to-Egyptian-Pounds-currency-conversion-page.html
and then use it to make a software that takes amount of USD Dollars from the user and calculate how much will it cost in EGP.

In [31]:
dollars = int(input())
req = requests.request('GET', 'https://www.exchangerates.org.uk/Dollars-to-Egyptian-Pounds-currency-conversion-page.html')
soup = BeautifulSoup(req.content, 'html.parser')
exchange_rate = soup.find("span", {"id":"shd2b;"})
print(dollars * float(exchange_rate.text))

30427.5

Task 2
--------- 
Scraping from forecast weather
Imagine you work for forecast weather Now imagine your boss wants you to find the temperature for each day in celsius degree. How could you do this with Beautiful Soup?
https://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168

In [2]:
req = requests.request('GET', 'https://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168#.Y-QGZi9BxPY')
soup = BeautifulSoup(req.content, 'html.parser')
seven_days = soup.find(id = "seven-day-forecast-body")
item = seven_days.find_all('div', class_='tombstone-container' )
print(item[5].prettify())

<div class="tombstone-container">
 <p class="period-name">
  Friday
  <br/>
  Night
 </p>
 <p>
  <img alt="Friday Night: Partly cloudy, with a low around 42." class="forecast-icon" src="newimages/medium/nsct.png" title="Friday Night: Partly cloudy, with a low around 42."/>
 </p>
 <p class="short-desc">
  Partly Cloudy
 </p>
 <p class="temp temp-low">
  Low: 42 °F
 </p>
</div>

In [3]:
del item[0]

In [4]:
sunny = (item[0])

In [5]:
period = sunny.find('p', class_='period-name').text
short_desc = sunny.find('p', class_='short-desc').text
temp = sunny.find('p', class_='temp').text
temp

'Low: 41 °F'

In [6]:
periods = [sunny.find('p', class_='period-name').text for sunny in item]
short_desc = [sunny.find('p', class_='short-desc').text for sunny in item]
temps = [int(sunny.find('p', class_='temp').text.split()[1]) for sunny in item]
temps

[41, 58, 43, 60, 42, 61, 42, 62]

In [7]:
data = {
    'periods': periods,
    'short_desc': short_desc,
    'temps':temps
}

In [8]:
df = pd.DataFrame(data)

In [9]:
df

         periods     short_desc  temps
0        Tonight   Mostly Clear     41
1       Thursday   Partly Sunny     58
2  ThursdayNight  Mostly Cloudy     43
3         Friday  Mostly Cloudy     60
4    FridayNight  Partly Cloudy     42
5       Saturday          Sunny     61
6  SaturdayNight   Mostly Clear     42
7         Sunday   Mostly Sunny     62

In [11]:
df.to_excel('name.xlsx')

# Task 3
---------
Scrap the books (name, price, rate) for each category and put them into a CSV & Excel file
https://books.toscrape.com/

In [5]:
req = requests.request('GET', url)
soup = BeautifulSoup(req.content, 'html.parser')
number_of_books = int(soup.find('form', class_='form-horizontal').find('strong').text)
number_of_pages = (number_of_books//20)+1
number_of_pages

1

In [9]:
url = 'https://books.toscrape.com/catalogue/category/books/historical-fiction_4/index.html'

2

In [27]:
# work with each url
data = {
    'name': [],
    'price': [],
    'rating': [],
    'category': []
}
def scrap_page(url):
    req = requests.request('GET', url)
    soup = BeautifulSoup(req.content, 'html.parser')
    articles = soup.find_all('article', class_='product_pod')
    for article in articles: 
        data['name'].append(article.find('h3').text)
        data['price'].append(article.find('div', class_="product_price").find('p', class_='price_color').text)
        data['rating'].append( article.find('p').attrs['class'][-1])
        data['category'].append(category_name)
# access main page
req = requests.request('GET', "https://books.toscrape.com/")
soup = BeautifulSoup(req.content, 'html.parser')

# get urls of catagories
categories = soup.find('div', attrs={
    'class': 'side_categories'
    }).find_all('ul')[1].find_all('a')

# go for each url scrap book inside it
for category in categories:
    
    # get url of each page
    url = f'https://books.toscrape.com/{category.attrs["href"]}'
    category_name = category.text.strip()
    print(f'Scraping {category_name} page')
    
    
    req = requests.request('GET', url)
    soup = BeautifulSoup(req.content, 'html.parser')
    try:
        number_of_books = (soup.find('li', class_='current').text)
        int(number_of_books.replace('\n', "").split("of")[1].strip())
        for i in range(1, number_of_pages+1):
            page_num = f"page-{number_of_pages}.html"
            url = url.replace('index', page_num)
        scrap_page(url)
    except:
        number_of_pages = 1
        scrap_page(url)

Scraping Travel page
Scraping Mystery page
Scraping Historical Fiction page
Scraping Sequential Art page
Scraping Classics page
Scraping Philosophy page
Scraping Romance page
Scraping Womens Fiction page
Scraping Fiction page
Scraping Childrens page
Scraping Religion page
Scraping Nonfiction page
Scraping Music page
Scraping Default page
Scraping Science Fiction page
Scraping Sports and Games page
Scraping Add a comment page
Scraping Fantasy page
Scraping New Adult page
Scraping Young Adult page
Scraping Science page
Scraping Poetry page
Scraping Paranormal page
Scraping Art page
Scraping Psychology page
Scraping Autobiography page
Scraping Parenting page
Scraping Adult Fiction page
Scraping Humor page
Scraping Horror page
Scraping History page
Scraping Food and Drink page
Scraping Christian Fiction page
Scraping Business page
Scraping Biography page
Scraping Thriller page
Scraping Contemporary page
Scraping Spirituality page
Scraping Academic page
Scraping Self Help page
Scraping Historical page
Scraping Christian page
Scraping Suspense page
Scraping Short Stories page
Scraping Novels page
Scraping Health page
Scraping Politics page
Scraping Cultural page
Scraping Erotica page
Scraping Crime page

In [30]:
df = pd.DataFrame(data)

'Travel'

In [32]:
df

                                   name   price rating  category
0               It's Only the Himalayas  £45.17    Two    Travel
1             Full Moon over Noah’s ...  £49.43   Four    Travel
2        See America: A Celebration ...  £48.87  Three    Travel
3    Vagabonding: An Uncommon Guide ...  £36.94    Two    Travel
4                  Under the Tuscan Sun  £37.33  Three    Travel
..                                  ...     ...    ...       ...
272              Why the Right Went ...  £52.65   Four  Politics
273      Equal Is Unfair: America's ...  £56.86    One  Politics
274                      Amid the Chaos  £36.58    One  Cultural
275                          Dark Notes  £19.19   Five   Erotica
276              The Long Shadow of ...  £10.97    One     Crime

[277 rows x 4 columns]

# Task 4
---------
Use this web service 
https://jsonplaceholder.typicode.com/users
and make a program that get all users data including name, username, email, street, suite, city, zip code, geo_lat & geo_long and then save them in a CSV & Excel file.

In [43]:
url = 'https://jsonplaceholder.typicode.com/users'
req = requests.request('GET', url)
data = req.json()
data[0]

{'id': 1,
 'name': 'Leanne Graham',
 'username': 'Bret',
 'email': 'Sincere@april.biz',
 'address': {'street': 'Kulas Light',
  'suite': 'Apt. 556',
  'city': 'Gwenborough',
  'zipcode': '92998-3874',
  'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
 'phone': '1-770-736-8031 x56442',
 'website': 'hildegard.org',
 'company': {'name': 'Romaguera-Crona',
  'catchPhrase': 'Multi-layered client-server neural-net',
  'bs': 'harness real-time e-markets'}}

In [44]:
with open('user.csv', 'w', newline='', encoding='utf-8') as f:
    writer = csv.writer(f)
    headers = ['name', ' username', 'email', 'phone', 'website', 'company_name', ' street', 'suite', 'city', 'zipcode', 'geo_lat', 'geo_lng']
    writer.writerow(headers)
    for user in data:
        name  = user['name']
        username = user['username']
        email = user['email']
        phone = user['phone']
        website = user['website']
        company_name = user['company']['name']
        street = user['address']['street']
        suite = user['address']['suite']
        city = user['address']['city']
        zip_code = user['address']['zipcode']
        geo_lat = user['address']['geo']['lat']
        geo_lng = user['address']['geo']['lng']
        data = [name,username, email,phone,website,company_name, street, suite,city, zip_code,geo_lat,geo_lng]
        writer.writerow(data)

In [45]:
df = pd.read_csv('user.csv')
df

,name,username,email,phone,website,company_name,street,suite,city,zipcode,geo_lat,geo_lng
0,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Romaguera-Crona,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496
1,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Deckow-Crist,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618
2,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Romaguera-Jacobson,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653
3,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Robel-Corkery,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990
4,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Keebler LLC,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342
5,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,1-477-935-8478 x6430,ola.org,Considine-Lockman,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478
6,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,210.067.6132,elvis.io,Johns Group,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984
7,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,586.493.6943 x140,jacynthe.com,Abernathy Group,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677
8,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,(775)976-6794 x41206,conrad.com,Yost and Sons,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889
9,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,024-648-3804,ambrose.net,Hoeger LLC,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232